.delivery-fee-wrapper {
    margin: 10px 0;
    small {
      font-weight: 300;
      font-family: 'Nunito';
      font-size: 18px;
      span {
        font-size: 24px;
        font-weight: 400;
        font-style: italic;
        color:#009de0!important;
      }
    }
  
  }
  